[Desktop Entry]
Name=Nmapfe
Comment=Gtk+ frontend to nmap
Comment[es]=Herramienta de exploraciСn de la rede y seguridad
Comment[pl]=Gtk+ frontend do nmap
Comment[pt]=Ferramenta de exploraГЦo da rede e seguranГa
Comment[ru]=Утилита сканирования сети и аудита безопасности
Comment[uk]=Утил╕та сканування мереж╕ та аудиту безпеки
exec=nmapfe
Terminal=0
Type=Application
# vi: encoding=utf-8
