[Desktop Entry]
Name=Nmapfe
Comment=Gtk+ frontend to nmap
Comment[es]=Herramienta de exploración de la rede y seguridad
Comment[pl]=Gtk+ frontend do nmap
Comment[pt]=Ferramenta de exploração da rede e segurança
Comment[ru]=Утилита сканирования сети и аудита безопасности
Comment[uk]=Утиліта сканування мережі та аудиту безпеки
Exec=nmapfe
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Network;
# vi: encoding=utf-8
